[submodule "modules/jtframe"]
	path = modules/jtframe
	url = https://github.com/jotego/jtframe.git
[submodule "modules/jtopl"]
	path = modules/jtopl
	url = https://github.com/jotego/jtopl.git
[submodule "modules/jt6295"]
	path = modules/jt6295
	url = https://github.com/jotego/jt6295
[submodule "modules/jteeprom"]
	path = modules/jteeprom
	url = https://github.com/jotego/jteeprom.git
