*.arc
*.bak
*.bin
*.cfg
*.fst
*.hex
*.jdi
*.jpg
*.log
*.lst
*.lxt
*.ods#
*.pin
*.png
*.qpf
*.qsf
*.raw
*.rbf
*.rbf_r
*.rom
*.rpt
*.smsg
*.sof
*.summary
*.wav
*/mist
*/mist/*
*/mist/db
*/mist/incremental_db
*/mister/*
*/obj_dir/*
*bak
.DS_Store
.simvision
build_id.v
core.def
cores/*/mist/*
cores/*/mister/*
cores/*/sidi/*
cores/*/zxuno/*
history
INCA_libs
jtsim.f
jtsim_vhdl.f
log/*
macros.f
mame.xml
ncverilog.*
old/*
releases/*
sim
test.shm
video.info